<ul class="nav navbar-nav navbar-right">
    <a href="/my-profile" class="btn btn-primary">Profile</a>
    <a href="/leagues" class="btn btn-primary">Return to My Table</a>
    <a href="/" class="btn btn-danger">Log Out</a>
</ul>

<div ng-init="loadLeagues()">
    <h1>Leagues</h1>
    <table class="table table-hover">
        <tr>
            <td> </td>
            <td>Liga</td>
            <td> </td>
            <td> </td>
            <td> </td>
        </tr>
        <tr ng-repeat="availableLeague in availableLeagues">
            <td>   </td>
            <td>{{availableLeague.Name}}</td>
            <td><button class="btn btn-primary" type="submit">  Calendar</button></td>
            <td><button class="btn btn-primary" type="submit">  Edit</button></td>
            <td><button class="btn btn-danger" ng-click="Deleter(availableLeague.Id)">  Disable League</button></td>
        </tr>
    </table>
    <form ng-submit="AddLiga()">
        <button class="btn btn-success" type="submit" style="float: right;" ng-disabled="ShowEdit1" disabled>Add League</button>
    </form>
    <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4" ng-show="ShowEdit1">
        <h3>Add New League</h3>
        <form ng-submit="AddLeague()">
            <input ng-model="league.Id" type="number" class="form-control" placeholder="League ID" required />
            <input ng-model="league.Name" type="text" class="form-control" placeholder="League Name" required autofocus />
            <button class="btn btn-success" type="submit" ng-disabled="!(league)" disabled> Done</button>
        </form>
        <form ng-submit="AddLiga()">
            <button class="btn btn-danger" type="submit"> Cancel</button>
        </form>
    </div>
</div>
<div ng-init="loadTeams()">
    <h1>Teams</h1>
    <table class="table table-hover">
        <tr>
            <td> </td>
            <td>Equipo </td>
            <td>Liga</td>
            <td> </td>
            <td> </td>
        </tr>
        <tr ng-repeat="availableTeam in availableTeams">
            <td>   </td>
            <td>{{availableTeam.Name}}</td>
            <td>{{availableTeam.Liga}}</td>
            <td><button class="btn btn-primary" type="submit">  Edit</button></td>
            <td>
                <form ng-submit="Delete(availableLeague.Id)">
                    <button class="btn btn-danger" type="submit">  Disable Team</button>
                </form>
            </td>
        </tr>
    </table>
    <form ng-submit="AddEquipo()">
        <button class="btn btn-success" type="submit" style="float: right;" ng-disabled="ShowEdit2" disabled>Add Team</button>
    </form>
    <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4" ng-show="ShowEdit2">
        <h3>Add New Team</h3>
        <form ng-submit="AddTeam()" method='post'>
            <select class="form-control" ng-model="team.Liga">
                <option ng-repeat="availableLeague in availableLeagues" ng-model="team.Liga">{{availableLeague.Name}}</option>
            </select>
            <input ng-model="team.Name" type="text" class="form-control" placeholder="Team Name" required autofocus />
            <button class="btn btn-success" type="submit" ng-disabled="!(team)" disabled> Done</button>
        </form>
        <form ng-submit="AddEquipo()">
            <button class="btn btn-danger" type="submit"> Cancel</button>
        </form>
    </div>
</div>

<div ng-init="loadMatches()">
    <h1>Matches</h1>
    <table class="table table-hover">
        <tr>
            <td> </td>
            <td>Liga </td>
            <td>Equipo Casa</td>
            <td>Marcador Casa </td>
            <td>Marcador Visita</td>
            <td>Equipo Casa </td>
            <td> </td>
            <td> </td>
        </tr>
        <tr ng-repeat="availableMatch in availableMatches">
            <td>   </td>
            <td>{{availableMatch.Liga}}</td>
            <td>{{availableMatch.EquipoCasa}}</td>
            <td> - </td>
            <td> - </td>
            <td>{{availableMatch.EquipoVisita}}</td>
            <td><button class="btn btn-primary" type="submit">  Edit</button></td>
            <td>
                <form ng-submit="Delete(availableLeague.Id)">
                    <button class="btn btn-danger" type="submit">  Disable Match</button>
                </form>
            </td>
        </tr>
    </table>
    <form ng-submit="AddPartido()">
        <button class="btn btn-success" type="submit" style="float: right;" ng-disabled="ShowEdit3" disabled>Add Match</button>
    </form>
    <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4" ng-show="ShowEdit3">
        <h3>Add New Match</h3>
        <form ng-submit="AddMatch()" method='post'>
            <select class="form-control" ng-model="match.Liga">
                <option ng-repeat="availableLeague in availableLeagues" ng-model="match.Liga">{{availableLeague.Name}}</option>
            </select>

            <select class="form-control" ng-model="match.EquipoCasa">
                <option ng-repeat="availableTeam in availableTeams" ng-model="match.EquipoCasa">{{availableTeam.Name}}</option>
            </select>            
            
            <select class="form-control" ng-model="match.EquipoVisita">
                <option ng-repeat="availableTeam in availableTeams" ng-model="match.EquipoVisita">{{availableTeam.Name}}</option>
            </select>

            <button class="btn btn-success" type="submit" ng-disabled="!(match)" disabled> Done</button>
        </form>
        <form ng-submit="AddPartido()">
            <button class="btn btn-danger" type="submit"> Cancel</button>
        </form>
    </div>
</div>
